body {
    padding: 8rem 4rem;
}

.completed {
    text-decoration: line-through;
}
.todoList {
}
.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todoDesc {
    margin: 0;
}
.todoBtnGroup {
    display: flex;
    gap: 1rem;
}

.trashIcon{
    width: 1rem;
    height: 1rem;
    background-image: url('../assets/trash.svg');
}

.listControls{
    display: flex;
    gap: 0.6rem;
}
.listControls input{
    margin: 0;
}