body {
    padding: 8rem 4rem;
}

.completed {
    text-decoration: line-through;
}

.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todoDesc {
    margin: 0;
}
.todoBtnGroup {
    display: flex;
    gap: 1rem;
}

.btn-close{
    width: 0.5rem !important;
    height: 0.5rem !important;   
}

.listControls{
    display: flex;
    gap: 0.6rem;
}
.listControls input{
    margin: 0;
}